repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
        exclude: '^asl/summary[.]txt$'
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=no"]
      - id: name-tests-test
      - id: no-commit-to-branch
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
      - id: ruff-format
        args: ["--check"]
  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos
        args: []
        exclude: '^asl/summary[.]txt$'
  - repo: local
    hooks:
      - id: generate-summary.sh
        name: generate-summary.sh
        language: system
        entry: ./generate-summary.sh
        exclude: ^test|^web|^README|^\.git
        pass_filenames: false
        types: [file]
        stages: [pre-commit, pre-merge-commit]
        require_serial: true
      - id: check-asl.sh
        name: check-asl.sh
        language: system
        entry: ./check-asl.sh
        files: asl/.*\.deck
        pass_filenames: false
        types: [file]
        stages: [pre-commit, pre-merge-commit]
        require_serial: true
