<!doctype html>
<html>
  <head>
    <title>Flashcards</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/flashcards.css" />
    <script id="decks-json" type="application/json">
      { DECKS }
    </script>
    <script src="static/flashcards.js" async></script>
  </head>
  <body class="no-deck">
    <div id="directory">
      <main>
        <h1>Choose a flashcard deck</h1>
      </main>
    </div>
    <div id="viewer">
      <h1 id="loading">Loading…</h1>
      <main>
        <header>
          <a href="#">
            <span id="directory-icon">❮❮</span>
            <span id="title" href="#"></span>
          </a>
          <label>Questions:</label>
          <div id="direction-control">
            <button id="direction-both" class="active">Both</button>
            <button id="direction-text-first">Text</button>
            <button id="direction-media-first">Media</button>
          </div>
        </header>
        <div id="cards">
          <div id="finished">Finished all cards!</div>
        </div>
        <div id="status"></div>
      </main>
      <div id="controls">
        <button id="back-button">Previous</button>
        <button id="next-button">Show answer</button>
      </div>
    </div>
  </body>
</html>
