<!doctype html>
<html>
  <head>
    <title>Flashcards</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/flashcards.css" />
    <script>
      const decks_tree = { DECKS };
    </script>
    <script src="static/flashcards.js" async></script>
  </head>
  <body class="no-deck">
    <div id="directory">
      <a href="#">❯</a>
    </div>
    <div id="viewer">
      <h1 id="loading">Loading…</h1>
    </div>
  </body>
</html>
