body {
  font-family: sans-serif;
  background: #fff;
  color: #000;
}

div.note {
  margin-bottom: 2em;
}

img, video {
  height: 300px;
}

.metadata {
  border: none;
  margin: 1em 0;
}

.metadata td, .metadata th {
  border: none;
  text-align: left;
}

.metadata th {
  font-weight: normal;
}

.note_id td, .source td span {
  font-weight: bold;
}
